
{%if admin%}
{%extends "adminhelper.html"%}
{%else%}
{%extends "helper.html"%}
{%endif%}
{% block content %}
<!-- page content -->

    <div style="margin-top: 20px">

      <div id="formBuilder"></div>

    </div>

    <script language="JavaScript" type="text/javascript">

      $('#formBuilder').formBuilder({

        load_url: 'src/json/example.json',
        save_url: '{{ base_url }}/save',

        onSaveForm: function() {
          // redirect to demo page
          window.location.href = '{{ base_url }}/render';
        }
      });

    </script>
{% endblock %}