{%if admin%}
{%extends "adminbase.html"%}
{%else%}
{%extends "base.html"%}
{%endif%}
{%block helper%}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Hasta Araması</h3>
              </div>
            </div>

            <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Hasta Tablosu</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Sağ Tarafta Bulunan Arama kutusunu kullanarak istediğiniz hastayı bulabilirsiniz Kayıtlarını gormek için
                      <strong>Detaylı Gor</strong> tuşunu kullanınız
                    </p>
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">                      <thead>
                        <tr>
                          <th>İsim</th>
                          <th>Telefon Numarasi</th>
                          <th>Tc Kimlik No</th>
                          <th>Email Adresi</th>
                          <th>Doğum Tarihi</th>
                          <th>Detay</th>
                        </tr>
                      </thead>


                      <tbody>
                        {%for patient in patients%}
                        <tr>
                          <td>{{patient.fullname}}</td>
                          <td>{{patient.phone}}</td>
                          <td>{{patient.tckimlikno}}</td>
                          <td>{{patient.email}}</td>
                          <td>{{patient.birthday}}</td>
                          <form action="" method="post" name="login" class="login-form">
                          <td><button class="btn" id="detay" name="detay" type="submit" value="{{patient.tckimlikno}}">Detaylı Gor</button></td>
                          </form>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>



{% endblock %}